section
  h1(style="font-variant: small-caps") Title
  hr
  h4
    | Me
    span.sep &bull;
    u Myself
    span.sep &bull;
    | I

section
  h2 Introduction
  ul
    li Hello 
      span.fragment World!
    li.fragment Math is easy: $\displaystyle \sum_{i=1}^n i^2$

section
  h2 Conclusion
  ul
    li.fragment Goodbye
