section
  h1(style="font-variant: small-caps") Title
  hr
  h4 Me <span class="sep">&bull;</span> <u>Myself</u>

section
  h2 Introduction
  ul
    li Hello 
      span.fragment World!

section
  h2 Conclusion
  ul
    li.fragment Goodbye
